<div class="container">
    <h2>Book</h2>
    <h3>Title: {{book.title}}</h3>
    <h3>Author: {{book.author}}</h3>
</div>

<div class="container">
    <h2>Owner </h2>
    <h3>Username: {{book.owner.username}}</h3>
    <h3>Email: {{book.owner.email}}</h3>

</div>

{{#unless owned}}
<form method="POST" action="/book/{{book._id}}/reserve">
    <div class="field submit">
        <button>Reserve</button>
    </div>
</form>
{{/unless }}

<div id="map"></div>

<script>
    window.addEventListener('load', () => {
        main('{{book._id}}');
    });
</script>