
<h3>Book: {{book.title}} {{book.author}}</h3>

<h3>Owner:{{book.owner.username}} {{book.owner.email}} </h3>


<div id="map"></div>

<script>
    window.addEventListener('load', () => {
        main('{{book._id}}');
    });
</script>