<div id="edit-profile">
    <div class="edit-profile ">
        <h3>Personal Information</h3>
        <p> Username: {{user.username}}</p>
        <p> Email: {{user.email}}</p>
        <hr/>
        <h3>My books</h3>

        <ul>
            {{#each mybooks}}
            <li>
                <p class="book">{{this.title}} by {{this.author}}</p>
                <form method="POST" action="/edit-profile/delete/{{this._id}}">
                    <div class="field submit">
                        <button class="remove-book">Remove this Book</button>
                    </div>
                </form>
            </li>
            {{/each}}
        </ul>


        <a href="/book/addbook" class="add-book">
            <button>Add a new Book</button>
        </a>
        <hr/>
        <h3>Reserved books</h3>

        <ul>
            {{#each reservedbooks}}
            <li>
                <div class="book">
                    <p>{{this.owner.email}}</p>
                    <p>{{this.title}} by  {{this.author}}</p>
                    <a href="/book/{{this._id}}" class="add-book"><button>See details</button></a>
                </div>
                <form method="POST" action="/edit-profile/unreserve/{{this._id}}">
                    <div class="field submit">
                        <button class="remove-book">Unreserve  this book</button>
                    </div>
                </form>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
